* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/grid.png);
    background-repeat: repeat-y;
    background-position: 50% 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* typography */

h1,
h2 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.7em;
}

/* nav */
nav {
    background-color: #c8d6de;
}

.sidenav {
    width: 200px;
    padding-top: 20px;
    background-color: #e00a0a;
}

.sidenav ul {
    list-style-type: none;
    width: 100%;
}

li .dropdown {
    background-color: #17bd35;
    display: none;
}

li:hover .dropdown {
    display: block;
}

.sidenav img {
    margin: 115px auto 20px;
    max-width: 100%;
    height: auto;
}

/* footer */

footer {
    height: 60px;
    line-height: 60px;
    background-color: pink;
    width: 100%;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: .875em;
}

footer li {
    margin: 0 10px;
}

footer a {
    text-decoration: none;
}

/* index page */

header {
    width: 100%;
    background: rgba(200, 225, 213, 0.8);
    text-align: center;
}

#wrapper {
    width: 100%;
    background: rgba(225, 200, 200, .8);
    padding: 20px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.third {
    width: 300px;
    margin: 0 10px;
    text-align: center;
    background-color: gray;
}

.third a {
    color: #c8d6de;
}

.third a:hover {
    color: #17bd35;
}

.third:last-of-type {
    margin-right: 0;
}

.third img {
    width: 100%;
    height: auto;
}

.third h2,
.third p {
    padding: 0 10px;
    margin-bottom: .3em;
}

.readmore {
    display: block;
    margin-top: .3em;
    margin-bottom: .7em;
}

/* about page */

main {
    width: calc(100% - 400px);
    background-color: #17bd35;
}

aside {
    width: 340px;
    margin-left: auto;
}

aside h3,
aside p {
    text-align: left;
    padding-left: 0;
    margin: 0;
}

.award img {
    width: 100px;
    height: 100px;
    margin: 0px;
}

.award-row {
    display: flex;
    flex-wrap: wrap;
}

.award {
    margin-right: 20px;
    margin-bottom: 20px;
}

.award:last-of-type {
    margin-right: 0px;
}

