


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/river2.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* GENERAL typography */

h1 {
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: #9b021e;
}

h2 {
    font-size: 1.7em;
    font-family: 'Times New Roman', Times, serif;
    color: #9b021e;
}

h3 {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    color: #9b021e;
}

/* nav */
nav {
    background-color:  rgb(180, 164, 130); 
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
  }
  
.sidenav ul {
    list-style-type: none;
    background-color: #e00a0a;
    width: 100%
}

li .dropdown {
    background-color: #17bd35;
    display: none;
    width: 100px;
    float: right;
}

li:hover .dropdown {
   display: block;
}

.sidenav img {
    display: block;
    margin: 115px auto 20px; 
    max-width: 100%; 
    height: auto; 
}
  
/* footer */

footer {
    height: 60px;
    line-height: 60px;
    background-color:  rgb(180, 164, 130); 
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: .875em;
}

footer li {
    margin: 0 10px;
}

footer a {
    text-decoration: none;
}

/* index page */

header h1 {
    margin-top: 64px;
    margin-bottom: 0;
}

header {
    width: 940px;
    margin: auto;
    background: rgba(200, 225, 213, 0.8);
    text-align: center;
}

#wrapper {
    width: 980px;
    margin: auto;
    background: rgba(225, 200, 200, .8);
    padding: 20px 0;
}

.row {
    overflow: hidden;
    text-align: center;
}

.third {
    width: 300px;
    float: left;
    margin-left: 20px;
    text-align: center;
    background-color: gray;
}

.third a {
    color: #c8d6de;
}

.third a:hover {
    color: #17bd35;
}

.third:last-of-type {
    margin-right: 0;
}

.third img {
    width: 100%;
    height: auto;
}

.third h2, p {
    padding: 0 10px;
    margin-bottom: .3em;
}

.readmore {
    display: block;
    margin-top: .3em;
    margin-bottom: .7em;
}












/* about page DONE */

.parent-container {
    display: flex;
    justify-content: center; /* Align items horizontally */
}

.about-welcome {
    width: 61.25em; /* 980px converted to em */
    text-align: center; 
    padding-top: 80px;
}

.about-welcome h1 {
    margin: 0;
}

#about-wrapper {
    display: flex;
    justify-content: center;
}

.about-row {
    background-color: rgb(212, 199, 170); 
    display: flex;
    width: 61.25em;  /* 980 */
    justify-content: center;
}

/* main DONE */

main {
    flex-basis: 580px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

main blockquote {
    border-left: #9b021e 20px solid;
    padding-left: 10px ;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 1.3em;
}

main h2 {
    margin-bottom: 10px;
}

main p {
    padding-left: 0;
    margin-bottom: 20px;
}

main img {
    float: left;
    width: 220px;
    margin-right: 20px;
}


/* aside DONE */

aside {
    flex-direction: column;
    flex-basis: 340px;
    margin-right: 20px;
    margin-top: 20px;
}

aside h3 {
    margin-bottom: 10px;
}

aside p {
    margin-bottom: 20px;
    padding-left: 0px;
}

.award-row {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.award-row img {
    width: 100px;
    max-width: 100%;
}

/* learn more about our wines row DONE */

.learn-row {
    background-color: rgb(212, 199, 170); 
    display: flex;
    width: 61.25em;  /* 980 */
    margin-bottom: 80px;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.forth {
    text-align: center;
    width: 220px;
}

.forth img {
    max-width: 100%;
    margin-bottom: 10px;
}

.forth p {
    font-style: italic;
    font-size: .8em;
    margin-bottom: 10px;
}
