/* styles for first wine website */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: white;
}

.inner-header {
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
}

#logo {
    width: 250px;
    padding-top: 1.5em;
    padding-bottom: .5em;
    float: left;
}

/* NAV */

.social {
    float: right;
    margin-top: 2em;
}

.social li {
    float: left;
    list-style-type: none;
    margin-left: 10px;
}

nav {
    background: #41AAE4;
    height: 50px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    clear: both;
}

#primary {
    width: 940px;
    margin: 0 auto;
    list-style-type: none;
}

#primary > li {
    float: left;
    width: 16.66%;
    text-align: center;
    position: relative;
}

#primary a {
    color: white;
    text-decoration: none;
    display: block;
}

#primary a:hover {
    background-color: #BDAE17;
    color: #2F3649;
}

.dropdown, .dropdown2 {
    display: none;
}

#primary li:hover .dropdown {
    display: block;
    position: absolute;
    background-color: #5B4307;
    width: 100%;
    list-style-type: none;
}

.dropdown li:hover .dropdown2 {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #5B4307;
    width: 100%;
    list-style-type: none;
} 

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #wrapper {
    padding-top: 60px;
}

/* INDEX PAGE */

#wrapper {
    width: 940px;
    margin: 0 auto;
}

#hero {
    background-color: #41AAE4;
    margin-bottom: 30px;
}

#hero img {
    display: block;
}

.row {
    overflow: hidden;
    margin-bottom: 1.5em;
}

.third {
    width: 300px;
    float: left;
    margin-right: 20px;
    text-align: center;
    padding: 0 10px;
    color: #5B4307;
}

.third a {
    color: #41AAE4;
}

.third a:hover {
    color: #BDAE17;
}

.third:last-of-type {
    margin-right: 0;
}

/* ABOUT PAGE */

.col8 {
    width: 460px;
    float: left;
}

.col8:last-of-type {
    float: right;
}

.col4 {
    width: 220px;
    float: left;
    text-align: center;
}

.col4:last-of-type {
    float: right;
}

div.col4 img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    object-position: top;
}

.col4 button {
    padding: .25em .5em;
    margin-bottom: 1em;
    border: 1px #5B4307 solid;
    border-radius: 3px;
    color: #e4416a;
    font-size: .875em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.col4 button:hover {
    padding: .25em .5em;
    border: 1px #5B4307 solid;
    border-radius: 3px;
    color: #41AAE4;
    font-size: .875em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 0px 4px #5B4307;
}

/* WINES > CABERNET > ____ */

main {
    width: 580px;
    float: left;
}

aside {
    width: 280px;
    float: right;
}

.box img#left {
    float: left;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.box img#right {
    width: 340px;
    /* margin-bottom: 0; THIS DOESNT REMOVE WHITE SPACE */
}

aside button {
    padding: .25em .5em;
    color: #41AAE4;
    border: 1px #5B4307 solid;
    border-radius: 3px;
    font-size: .875em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 5px;
}

aside button:hover {
    padding: .25em .5em;
    color: #41AAE4;
    border: 1px #5B4307 solid;
    border-radius: 3px;
    font-size: .875em;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 0px 4px #5B4307;
}

aside figcaption {
    /* margin-top: 0; THIS DOESNT REMOVE WHITE SPACE */
    margin-bottom: 1em;
    font-style: italic;
    background-color: #5B4307;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

ul.right-left {
    list-style-type: none;
    display: flex;
}

ul.right-left  li:first-of-type{
    margin-right: auto;
}

/* FOOTER */

footer {
    border-top: 1px solid #5B4307;
    height: 60px;
    line-height: 60px;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: .875em;
}

footer li {
    margin: 0 10px;
}

img {
    max-width: 100%;
    display: block;
}

.readmore {
    display: block;
    margin-top: .5em;
}

/* TYPOGRAPHY */

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on April 29, 2024 */

@font-face {
    font-family: 'architects_daughterregular';
    src: url('../fonts/architectsdaughter-webfont.woff2') format('woff2'),
         url('../fonts/architectsdaughter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: white;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

p {
    margin-bottom: 1.5em;
    color: #5B4307;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #5B4307;
    margin-bottom: .1em;
    margin-top: .5em;
    font-size: 2.986em;
}

h2, h3 {
    color: #BDAE17;
    margin-bottom: .3em;
}

h2 {
    font-size: 2.488em;
}

h2 {
    font-size: 2.074em;
}

blockquote {
    font-size: 1.5em;
    text-align: center;
    margin: 0 1.5em 1.5em 1.5em;
    line-height: 1.4;
    font-family: 'architects_daughterregular';
    color: #BDAE17;
}

.inner blockquote {
    text-align: left;
    border-left: 20px solid #BDAE17;
    margin: 1em 0;
    padding-left: 30px;
}

.inner blockquote::before {
    content: "\"";
    margin-left: -7px;
}

/* HOME TYPOGRAPHY */

.home h1 {
    font-family: 'architects_daughterregular';
    font-size: 2.986em;
    text-align: center;
    line-height: 1.15;
    margin-bottom: .5em;
}

.home h2 {
    color: #5B4307;
}

.third p {
    font-size: .875em;
}

/* ABOUT TYPOGRAPHY */

.col4 h3 {
    color: #41AAE4;
}

.col4 p {
    margin-bottom: 1em;
    font-size: 0.833em;
}

/* WINES > CABERNET > ____ TYPOGRAPHY */

aside p {
    margin-bottom: 1em;
    font-size: 0.833em;
    line-height: 1.6em;
}