/* styles for grid */ 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/grid.png);
    background-repeat: repeat-y;
    background-position: 50% 0;
}

#wrapper {
    width: 940px;
    margin: 30px auto;
    background: rgba(28, 208, 175, 0.8);
    padding: 20px 0;
    overflow: hidden; 
}

.row {
    margin-bottom: 30px;
    clear: both;
    overflow: hidden;
    background-color: rgba(136, 28, 208, 0.8) ;
}

/* FIRST SECTION */

.box {
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 580px;
    background: red;
    float: left;
}

aside {
    width: 340px;
    background: green;
    float: right;
}

/* SECOND SECTION */

.row h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* THIRD SECTION */

.col {
    width: 148px;
    height: 80px;
    background: beige;
    float: left;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    padding-top: .5em;
}

.col img {
    width: 40px;
    height: auto;
}

.col:first-of-type {
    margin-left: 60px;
}

.col:last-of-type {
    margin-right: 0;
}


/* FORTH SECTION */

.rowflex {
    background-color: rgba(208, 202, 28, 0.8) ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.thirds {
    background-color: aqua;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FIFTH SECTION */

.rowflexbox {
    background-color: rgba(208, 202, 28, 0.8) ;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.thirdsflexbox {
    background-color: blue;
    flex: 1;
}

/* SIXTH SECTION */

.rowflexbox2 {
    background-color: rgba(208, 88, 28, 0.8) ;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.thirdsflexbox2 {
    background-color: blue;
    flex: 1;
    margin-left: 20px;
    display: flex; /* Add this */
    flex-direction: column; /* Add this */
    justify-content: center; /* Add this */
    align-items: center; /* Add this */
}

.thirdsflexbox2:last-of-type {
    margin-right: 20px;
}

/* SEVENTH SECTION */

.code-box {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    margin: 20px 0;
    width: 700px;
    margin: auto;
}
